<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">Implementation/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n }{ FATAL=red, ERROR=red, WARN=yellow, INFO=green, TRACE=green, TRACE=green }"
                    disableAnsi="false"/>
        </Console>

        <File
                name="File"
                fileName="${LOG_DIR}/eiscafegelatelli.log"
                immediateFlush="false"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="org.mysql" level="off"/>
    </Loggers>
</Configuration>
